footer{
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  .place-footer{
    width: 100%;
    height: 100%;
    display: flex;
    .place-footer-left{
      width: 20%;
      height: 100%;
      display: flex;
        justify-content: center;
        align-items: center;
      .logo{
        width: 141px;
        height: 141px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 100px;
          height: 100px;
        }
      }
    }
    .place-footer-right{
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navi{
        width: 890px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        .danhmuc-footer{
          width: 200px;
          height: auto;
          h1{
            &:hover{
              color: var(--primary--color);
              cursor: pointer;
            }
          }
          ul{
            li{
              a{
                text-decoration: none;
                color: var(--price--color);
                &:hover{
                  color: var(--primary--color);
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
  .endfooter{
    width: 100%;
    height: 100%;
    background-color: var(--price--color);
    text-align: center;

    h4{
      font-size: 16px;
      color: var(--second--color);
    }
  }
}