.content{

.place-user {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 10%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 3px dashed #cccccca6;
   
}

.sidebar ul {
    list-style-type: none;
    padding: 15px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.screen {
    width: 90%;
    padding: 20px;
    form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #ccc;
        border-radius: 4px;
        gap: 20px;
        padding: 15px;
        .place-info{
            width: 100%;
            display: flex;
            justify-content: space-around;
            label{
                font-size: 20px;
                line-height: 24px;
            }
        }
       img{
        width: 100px;
        height: 100px;
       }
       button{
        padding: 10px;
        height: 50px;
        background-color: var(--primary--color);
        border-radius: 4px;
        border: none;
        outline: none;
        color: var(--second--color);
        &:hover{
            background-color: var(--price--color);
            cursor: pointer;

        }
       }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        text-align: center;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #ddd;
       
    }
   
    thead {
        background-color: var(--primary--color); 
        color: white;
    }
    
    th, td {
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
    }
    
    td {
        text-align: center;
        
    }
    
    
    th:first-child, td:first-child {
        text-align: left;
        padding-left: 20px;
    }
    
    tbody tr:last-child td {
        border-bottom: none;
    }
    
}

}