main{
  .place-main{
    width: 100%;
    height: auto;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* header */
    .content{
      .header{
        width: 100%;
        display: flex;
        justify-content: space-around;
        .logo{
          width: 465px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          a{
            width: 60px;
            height: 60px;
            img{
              width: 100%;
              height: 100%;
            }
          }
          
        }
        nav{
          width:100%;
          height:  100px;
          display: flex;
          justify-content: center;
          align-items: center;
          ul{
            display: flex;
            justify-content: center;
            align-items: center;
            height:  100%;
            li{

              list-style-type: none;
              display: flex;
            justify-content: center;
            align-items: center;
              width: 100px;
              height:  100%;
              a{
                color: var(--primary--color);
                text-decoration: none;
                &:hover{
                  color: var(--price--color);
                }
              }
            }
          }
        }
        /* search */
        .textheader{
          width: 465px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          gap:10px;
            .search-container {
              display: flex;
              form{
                display: flex;
                .search-input {
                  left: -50%;
                  width: 160px;
                  height: 30px;
                  font-size: 16px;
                  box-shadow: 0 0 1px var(--price--color);
                  border-top-left-radius: 4px;
                  border-bottom-left-radius: 4px;
                  outline: none;
                  transition: all 0.3s ease;
                  background-color: var(--second--color);
                  border-right: none;
                  border-left: 1px solid  rgba(0, 0, 0, 0.25);
                  border-top:1px solid  rgba(0, 0, 0, 0.25) ;
                  border-bottom: 1px solid  rgba(0, 0, 0, 0.25);
                  &:focus{
                   border: 1px solid var(--primary--color);
                    box-shadow: 0 0 1px rgba(76, 175, 80, 0.3);
                    padding-left: 5px;
                  }
                }
                .timkiem{
                  background-color: var(--primary--color);
                  color: var(--second--color);
                  border-right: 1px solid  rgba(0, 0, 0, 0.25);
                  border-top:1px solid  rgba(0, 0, 0, 0.25) ;
                  border-bottom: 1px solid  rgba(0, 0, 0, 0.25);
                  border-left: none;
                  padding: 5px;
                  outline: none;
                  border-top-right-radius: 4px;
                  border-bottom-right-radius: 4px;
                  &:hover{
                    background-color: var(--price--color);
                    color: var(--second--color);
                    cursor: pointer;
                  }
                }
              }
              
              
            }
             /* cart */
            .cart{

              display: flex;
              justify-content: center;
              align-items: center;
              a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                width: 55px;
                height: 55px;
                color: var(--primary--color);
                border-radius: 12px;
                &:hover{
                  color: var(--price--color);
                }
                i{
                    font-size: 25px;
                   
                   
                }
                
              }
            }
            /* user */
            .user{
              .info{
                display: flex; 
                ul{
                  display: flex;
                  list-style-type: none;
                  align-items: center;
                  gap: 10px;
  
                  li{
                    list-style-type: none;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 600;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 100px;
                    }
                    .iconlogout{
                        text-decoration: none;
                        display: flex;
                          justify-content: center;
                          text-align: center;
                          align-items: center;
                          width: 100%;
                          height: 50px;
                          color: var(--primary--color);
                          background-color: var(--second--color);
                          border-radius: 12px;
                        &:hover{
                              color: var(--price--color);  
                        }
                    }
                    .nameuser{
                      text-decoration: none;
                      color: var(--primary--color);
                      justify-content: center;
                      text-align: center;
                      align-items: center;
                      width: 100%;
                      height: 50px;
                      &:hover{
                        color: var(--price--color);
                        cursor: pointer;
                      }
                    }
                    .imguser{
                      background-color: none;
                
                    }           
                  }
                  .login-logout{
                    width: 100%;
                    ul{
                      width: 100%;
                      display: flex;
                      justify-content:center;
                      align-items: center;
                      gap: 5px;
                      li{
                        list-style-type: none;
                        display: flex;
                        justify-content:center;
                      align-items: center;
                        a{
                          display: flex;
                          text-decoration: none;
                          color: var(--primary--color);
                          justify-content: center;
                          text-align: center;
                          align-items: center;
                          width: 100%;
                          height: 50px;
                          &:hover{
                            color: var(--price--color);
                            cursor: pointer;
                          }
                        }
                      }
                    }
                  }
                }
              
              }
            }
            /* end user */

         
         
        }
       
      }
    }
    /* end header */
    /*banner 1 */
      .box-banner{
          width: 100%;
          height: auto;

        img{
          width: 100%;
          height: 400px;
          object-fit: cover;
      
          position: relative;
        
        }
          .box-text-banner{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 530px;
            height: 200px;
            border-radius: 40px;
            right: 20px;
            top: 5%;
            h1{
              font-size: 48px;
              color: var(--price--color);
              font-weight: 600;
             
            }
            a{
              text-decoration: none;
              text-align: center;
              color: var(--second--color);
              width: 160px;
              height: 50px;
              font-size: 16px;
              line-height: 55px;
              border-radius: 12px;
              background-color: var(--primary--color);
              &:hover{
                background-color: var(--price--color);
              }
            }
           
          }
        
       
      }
      

    /* end banner 1 */
    /* danh mục */
    .content{
      .place-main-home1{
        width: 100%;
        height: 493px;
        object-fit: contain;
        padding-top: 75px;
        padding-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        .yarn{
          width: 600px;
          height: 493px;
          .banner-yarn{
            width: 585px;
            height: 493px;
            border-radius: 12px;
            box-shadow: var(--box--shadow);
            .image-banner{
              width: 100%;
              height: 320px;
              max-width: 585px;
              max-height: 320px;
              overflow: hidden;
              img{
                object-fit: fill;
                width: 100%;
                height: 100%;
                  border-top-left-radius: 12px;
                  border-top-right-radius: 12px;
                   transition: all .1s ease-in-out;
                   overflow: hidden;
                  &:hover{
                    transform: scale(1.1);
                  }
              }
            }
            .text-banner-yarn{
              display: flex;
              width: 100%;
              height: 149px;
              margin-top: 9px;
              margin-bottom: 9px;
              flex-direction: column;
              justify-content: space-around;
              padding-left: 5px;
              padding-right: 5px;
              h2{
                font-size: 24px;
                line-height: 30px;
                a{
                  text-decoration: none;
                  color: var(--price--color);
                  &:hover{
                    color: var(--primary--color);
                  }
                }
              
              }
              span{
                font-size: 16px;
                font-weight: 100;
                line-height: 33px;    
                
              }
            }
          }
        }
          .pattern{
            width: 600px;
            height: 493px;
            display: flex;
            justify-content: end;
            .banner-pattern{
              width: 585px;
              height: 493px;
              border-radius: 12px;
              box-shadow: var(--box--shadow);
              .image-banner{
                width: 100%;
                height: 320px;
                max-width: 585px;
                max-height: 320px;
                overflow: hidden;
                img{
                  width: 100%;
                  height: 100%;
                  border-top-left-radius: 12px;
                  border-top-right-radius: 12px; 
                  transition: all .1s ease-in-out;
                  &:hover{
                    transform: scale(1.1);
                  }

                }
              }
              .text-banner-yarn{
                display: flex;
                width: 100%;
                height: 149px;
                margin-top: 9px;
                margin-bottom: 9px;
                flex-direction: column;
                justify-content: space-around;
                padding-left: 5px;
                padding-right: 5px;
              
                h2{
                  font-size: 24px;
                  line-height: 30px;
                  a{
                    text-decoration: none;
                    color: var(--price--color);
                    &:hover{
                      color: var(--primary--color);
                    }
                  }
                
                }
                span{
                  font-size: 16px;
                  font-weight: 100;
                  line-height: 33px;  
                }
              }
            }
          }
       
        
      }
    }
    /* end danh mục */
    /* banner 3 */

      .box-banner2{
        width: 100%;
        height: auto;
        img{
          width: 100%;
          height: 400px;
          object-fit: cover;
      
          position: relative;
        
        }
        
          .box-text-banner{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 530px;
            height: 200px;
            border-radius: 40px;
            right: 20%;
            left: 35%;
            top: 33%;
            h1{
              font-size: 48px;
              color: var(--price--color);
              font-weight: 600;
              padding-bottom: 5px;
             
            }
            a{
              text-decoration: none;
              text-align: center;
              color: var(--second--color);
              width: 160px;
              height: 50px;
              font-size: 20px;
              line-height: 55px;
              border-radius: 4px;
              background-color: var(--primary--color);
              &:hover{
                background-color: var(--price--color);
              }
            }
           
            
          }
        
       
      }
      

    /* end banner 3 */
    /* content 4 */
    .content{
      .place-danhmuc{
        width: 100%;
        height: 100%;
     
        .h3-danhmuc{
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          h1{
            font-size: 34px;
            line-height: 32px;
            font-weight: 700;
          }
        }
        .box-danhmuc{
          width: 100%;
          height: 371px;
          display: flex;
          justify-content: space-around;
          gap: 10px;
          margin-top: 20px;
          .box-danhmuc1{
            width: calc(100% / 3);
            height: 293px ;
            text-align: center;
            padding: 10px;
            img{
              border-radius: 12px;
              width: 100%;
              height: 293px;
              transition: all .5 ease-in-out;
              &:hover{
                transform: scale(1.1);
                cursor: pointer;
              }
            }
            a{
              display: block;
              margin-top: 20px;
              text-decoration: none;
              color: var(--price--color);
              &:hover{
                color: var(--primary--color);
              }
              h1{
                font-size: 36px;
                font-size: medium;
                line-height: 32px;
                font-weight: 600;
              }
            }
            
          }
          
        }
      }
    }
    /* end content 4 */
/* pattern Product */
.content {
  .place-product {
    width: 100%;
    height: 596px;

    .heading-place-product {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .heading {
        h2 {
          a {
            text-decoration: none;
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--price--color);
            &:hover {
              color: var(--primary--color);
              cursor: pointer;
            }
          }
        }
      }

      .more {
        h2 {
          a {
            font-size: 24px;
            font-weight: 600;
            text-decoration: none;
            color: var(--price--color);
            &:hover {
              color: var(--primary--color);
              cursor: pointer;
            }
          }
        }
      }
    }

    .box-product-master {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px;
      width: 100%;
      align-items: center;
      justify-items: center;
      .box-product {
        position: relative;
        width: 282px;
        height: 440px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        border-radius: 12px;
        box-shadow: var(--box--shadow);
        transition: all 0.3s linear;
        overflow: hidden;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
          cursor: pointer;
        }
        &:hover .button-container {
          opacity: 1;
          visibility: visible;
          cursor: pointer;
        }
        img {
          width: 282px;
          height: 282px;
          object-fit: cover;
          transition: transform 0.3s ease;
        }
        .content-box-product {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 4px;
          height: 100%;
          h1 {
            font-size: 16px;
            font-weight: 200;
            line-height: 24px;
            text-transform: uppercase;
          }
          span {
            font-size: 13px;
            font-weight: 200;
            line-height: 24px;
            text-transform: uppercase;
          }
        }
        .button-container {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 282px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.5); /* Black overlay */
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s ease;
          .buy-now-button,
          .add-to-cart-button {
            width: 160px;
            height: 50px;
            text-decoration: none;
            color: var(--second--color  );
            background-color: var(--primary--color);
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            margin: 5px;
          }
          .buy-now-button:hover,
          .add-to-cart-button:hover {
            cursor: pointer;
            background-color: var(--price--color);
            color: var(--second--color);
          }
        }
        .sale-off-tag {
          position: absolute;
          top: 10px;
          left: 0;
          background-color: var(--primary--color);
          color: var(--second--color);
          padding: 5px 10px;
          font-size: 14px;
          font-weight: bold;
          border-radius: 4px;
        }
      }
    }
  }
}
/* End pattern Product */

    /* banner 3 */
      .box-banner3{
        width: 100%;
        height: auto;
        img{
          width: 100%;
          height: 400px;
          object-fit: cover;
          position: relative;
        
        }
       
          .box-text-banner{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 530px;
            height: 200px;
            border-radius: 40px;
            left: 30%;
            top: 86%;
            h1{
              font-size: 48px;
              color: var(--price--color);
              font-weight: 600;
             
            }
            a{
              text-decoration: none;
              text-align: center;
              color: var(--second--color);
              width: 160px;
              height: 50px;
              font-size: 16px;
              line-height: 55px;
              border-radius: 12px;
              background-color: var(--primary--color);
              &:hover{
                background-color: var(--price--color);
              }
            }

            
          }
      
       
      }
      

    /* end banner 3 */
    /* start footer main */
    .footer--main{
      width: 100%;
      height: 150px;
      background-color: var(--price--color);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      .content{
        .loiich{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .loiich1,.loiich2,.loiich3,.loiich4{
            a{
              display: flex;
              text-decoration: none;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 10px;
             
              i{
                font-size: 50px;
                color: var(--second--color);
                &:hover{
                  color: var(--primary--color);
                }
              }
              span{
                text-transform: uppercase;
                font-size: 20px;
                color: var(--second--color);
                &:hover{
                  color: var(--primary--color);
                }
              }
              &:hover{
                color: var(--primary--color);
              }
            }
           
          }
        }
      }
    }
  }
}