.home{
  .place-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* content 1 */
    .content{
      .header{
        display: flex;
        justify-content: space-between;
        .logo{
          width: 141px;
          height: 141px;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 100px;
            height: 100px;
          }
        }
       
        /* search */
        .textheader{
          display: flex;
          justify-content: center;
          align-items: center;
          gap:40px;
          .search-container {
            position: relative;
            width: 100%;
            max-width: 400px;
            .search-input {
              width: 100%;
              height: 50px;
              padding: 5px 10px;
              /* padding-right: 50px; Extra space for the button */
              font-size: 16px;
              border: 2px solid var(--price--color);
              border-radius: 25px;
              outline: none;
              transition: all 0.3s ease;
              background-color: var(--second--color);
              &:focus{
                border-color: var(--primary--color);
                 box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
              }
            }
            .search-button {
              position: absolute;
              right: 0; /* Adjust button position */
              top: 50%;
              transform: translateY(-50%);
              background: none;
              border: none;
              outline: none;
              cursor: pointer;
              color: #555;
              font-size: 18px; /* Font size for the icon */
              transition: color 0.3s ease;
              &:hover{
                color: #4CAF50;
              }
            }
          }
           /* cart */
          .cart{
            width: 55px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              width: 55px;
              height: 55px;
              background-color: var(--primary--color);
              color: var(--price--color);
              border-radius: 12px;
              &:hover{
                background-color: var(--price--color);
                color: var(--second--color);
              }
              i{
                  font-size: 25px;
                 
                 
              }
              
            }
          }
        }
       
      }
    }
    /* end cotent 1 */
    /*banner 1 */
    .content{
      .box-banner{
        position: relative;
        img{
          width: 100%;
          height: 400px;
          border-radius: 100px;
          object-fit: cover;
          box-shadow: var(--box--shadow);
        
        }

          .box-text-banner{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 530px;
            height: 200px;
            border-radius: 40px;
            right: 20px;
            top: 25%;
            h1{
              font-size: 48px;
              color: var(--price--color);
              font-weight: 600;
             
            }
            a{
              text-decoration: none;
              text-align: center;
              color: var(--second--color);
              width: 320px;
              height: 50px;
              line-height: 55px;
              padding: 10px;
              border-radius: 12px;
              background-color: var(--primary--color);
              &:hover{
                background-color: var(--price--color);
              }
            }
           
          }
        
       
      }
      
    }
    /* end banner 1 */
    /* danh mục */
    .content{
      .place-main-home1{
        width: 100%;
        height: 493px;
        object-fit: contain;
        padding-top: 75px;
        padding-bottom: 25px;
        display: flex;
        .yarn{
          width: 600px;
          height: 493px;
          transition: all .1s ease-in-out;
          &:hover{
            transform: scale(1.05);
            animation-delay: 0.1s;
            cursor: pointer;
          }
          .banner-yarn{
            width: 585px;
            height: 493px;
            border-radius: 12px;
            box-shadow: var(--box--shadow);
            .image-banner{
              width: 100%;
              height: 320px;
              max-width: 585px;
              max-height: 320px;
              img{
                object-fit: fill;
                width: 100%;
                height: 100%;
                border-radius: 12px;
              }
            }
            .text-banner-yarn{
              display: flex;
              width: 100%;
              height: 149px;
              margin-top: 9px;
              margin-bottom: 9px;
              flex-direction: column;
              justify-content: space-around;
              padding-left: 5px;
              padding-right: 5px;
              h2{
                font-size: 30px;
                line-height: 30px;
                a{
                  text-decoration: none;
                  color: var(--price--color);
                  &:hover{
                    color: var(--primary--color);
                  }
                }
              
              }
              span{
                font-size: 24px;
                font-weight: 100;
                line-height: 33px;    
                
              }
            }
          }
        }
      
          .pattern{
            width: 600px;
            height: 493px;
            display: flex;
            justify-content: end;
            transition: all .1s ease-in-out;
            &:hover{
              transform: scale(1.05);
              animation-delay: 0.1s;
              cursor: pointer;
            }
            .banner-pattern{
              width: 585px;
              height: 493px;
              border-radius: 12px;
              box-shadow: var(--box--shadow);
              .image-banner{
                width: 100%;
                height: 320px;
                max-width: 585px;
                max-height: 320px;
                img{
                
                  width: 100%;
                  height: 100%;
                  border-radius: 12px;
                }
              }
              .text-banner-yarn{
                display: flex;
                width: 100%;
                height: 149px;
                margin-top: 9px;
                margin-bottom: 9px;
                flex-direction: column;
                justify-content: space-around;
                padding-left: 5px;
                padding-right: 5px;
              
                h2{
                  font-size: 30px;
                  line-height: 30px;
                  a{
                    text-decoration: none;
                    color: var(--price--color);
                    &:hover{
                      color: var(--primary--color);
                    }
                  }
                
                }
                span{
                  font-size: 24px;
                  font-weight: 100;
                  line-height: 33px;  
                }
              }
            }
          }
       
        
      }
    }
    /* end danh mục */
    /* banner 3 */
    .content{
      .box-banner2{
        position: relative;
        img{
          width: 100%;
          height: 400px;
          border-radius: 100px;
          object-fit: cover;
          box-shadow: var(--box--shadow);
        
        }
        
          .box-text-banner{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 530px;
            height: 200px;
            border-radius: 40px;
            right: 25%;
            left: 25%;
            top: 25%;
            gap: 10px;
            h1{
              font-size: 48px;
              color: var(--price--color);
              font-weight: 600;
              text-align: center;
            }
            a{
              text-decoration: none;
              text-align: center;
              color: var(--second--color);
              width: 160px;
              height: 50px;
              line-height: 55px;
              padding: 10px;
              border-radius: 12px;
              background-color: var(--primary--color);
              &:hover{
                background-color: var(--price--color);
              }
            }
           
            
          }
        
       
      }
      
    }
    /* end banner 3 */
    /* content 4 */
    .content{
      .place-danhmuc{
        width: 100%;
        height: 100%;
        .h3-danhmuc{
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          h3{
            font-size: 34px;
            line-height: 32px;
            font-weight: 500;
          }
        }
        .box-danhmuc{
          width: 1200px;
          height: 371px;
          display: flex;
          justify-content: space-around;
          gap: 10px;
          margin-top: 20px;
          .box-danhmuc1{
            width: calc(100% / 3);
            height: 293px ;
            text-align: center;
            padding: 10px;
            img{
              border-radius: 12px;
              width: 100%;
              height: 293px;
              transition: all .5 ease-in-out;
              &:hover{
                transform: scale(1.1);
                cursor: pointer;
              }
            }
            a{
              display: block;
              margin-top: 20px;
              text-decoration: none;
              color: var(--price--color);
              &:hover{
                color: var(--primary--color);
              }
              h1{
                font-size: 36px;
                font-size: medium;
                line-height: 32px;
                font-weight: 600;
              }
            }
            
          }
          
        }
      }
    }
    /* end content 4 */
   /* Hot Product */
    .content {
      .place-product {
        width: 100%;
        height: 596px;
        .heading-place-product {
          width: 100%;
          height: 100px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .heading {
            h1{
              a {
                text-decoration: none;
                font-size: 24px;
                font-weight: 600;
                text-transform: uppercase;
                color: var(--price--color);
                &:hover {
                  color: var(--primary--color);
                  cursor: pointer;
                }
              }
            }
            
          }

          .more {
            h1{
              a {
                font-size: 24px;
                font-weight: 600;
                text-decoration: none;
                color: var(--price--color);
                &:hover {
                  color: var(--primary--color);
                  cursor: pointer;
                }
              }
            }
           
          }
        }

        .box-product-master {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          gap: 4px;
          width: 100%;
          align-items: center;
          justify-items: center;
          .box-product {
            position: relative; 
            width: 282px;
            height: 440px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 12px;
            box-shadow: var(--box--shadow);
            transition: all 0.3s linear;
            overflow: hidden; 
            &:hover {
              transform: scale(1.05);
              box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            }

            img {
              border-radius: 12px;
              width: 282px;
              height: 282px;
              object-fit: cover;
              transition: transform 0.3s ease;
            }

            .content-box-product {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 4px;
              h2,
              h3 {
                font-size: 20px;
                font-weight: 200;
                text-transform: uppercase;
              }
            }

            .buy-now-button {
              position: absolute;
              bottom: 10px;
              left: 50%;
              transform: translateX(-50%);
              padding: 10px 20px;
              font-size: 18px;
              color: var(--second--color);
              background-color: var(--primary--color);
              border: none;
              border-radius: 25px;
              cursor: pointer;
              opacity: 0;
              transition: opacity 0.3s ease, transform 0.3s ease;
            }

            &:hover .buy-now-button {
              opacity: 1;
              transform: translateX(-50%) translateY(0); 
            }

            .sale-off-tag {
              position: absolute;
              top: 10px;
              left: 0;
              background-color: red;
              color: var(--second--color);
              padding: 5px 10px;
              font-size: 14px;
              font-weight: bold;
              border-radius: 4px;
            }
          }
        }
      }
    }
/* End Hot Product */
    /* banner 3 */
    .content{
      .box-banner3{
        position: relative;
        img{
          width: 100%;
          height: 400px;
          border-radius: 100px;
          object-fit: cover;
          box-shadow: var(--box--shadow);
        
        }
       
          .box-text-banner{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 530px;
            height: 200px;
            border-radius: 40px;
            right: 25%;
            left: 25%;
            top: 25%;
      
            h1{
              font-size: 48px;
              color: var(--price--color);
              font-weight: 600;
            }
            a{
              text-decoration: none;
              text-align: center;
              color: var(--second--color);
              width: 320px;
              height: 50px;
              line-height: 55px;
              padding: 10px;
              border-radius: 12px;
              background-color: var(--primary--color);
              &:hover{
                background-color: var(--price--color);
              }
            }
            
          }
      
       
      }
      
    }
    /* end banner 3 */
    /* start footer main */
    .footer--main{
      width: 100%;
      height: 298px;
      background-color: var(--price--color);
      border-bottom-left-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      .content{
        .loiich{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .loiich1,.loiich2,.loiich3,.loiich4{
            a{
              display: flex;
              text-decoration: none;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 10px;
             
              i{
                font-size: 50px;
                color: var(--second--color);
                &:hover{
                  color: var(--primary--color);
                }
              }
              span{
                text-transform: uppercase;
                font-size: 20px;
                color: var(--second--color);
                &:hover{
                  color: var(--primary--color);
                }
              }
              &:hover{
                color: var(--primary--color);
              }
            }
           
          }
        }
      }
    }
  }
}