 /* content product */
 .content{
  .place-category{
    width: 100%;
    height: 100px;
    display: flex;
    gap: 20px;
    .category-box {
      width: 160px;
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 12px;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    .subcategory-list {
        margin-left: 20px;
        display: none; /* Hide initially */
    }
  }
  .place-showProduct{
    width: 100%;
    height: 100%;
    display: flex;
    /* start nav bar */
    .nav-bar{
      width: 20%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--button--color);
      border-radius: 16px;
      box-shadow: var(--box--shadow);
      /* search */
      .search{
        width: 100%;
        height: auto;
        padding-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
        form{
          input{
            border-radius: 4px;
            outline: none;
            width: 160px;
            height: 30px;
            border: 1px solid  rgba(0, 0, 0, 0.25);
            &:focus{
              border: 1px solid var(--primary--color);
               box-shadow: 0 0 1px rgba(76, 175, 80, 0.3);
               padding-left: 5px;
             }

          }
          .timkiem{
            width: 100px !important;
            height: 30px;
            background-color: var(--primary--color);
            color: var(--second--color);
            outline: none;
            border: 1px solid  rgba(0, 0, 0, 0.25);
            &:hover{
              background-color: var(--price--color);
              color: var(--second--color);
              cursor: pointer;
            }
          }
        }
      }
      /* end search */
      /* start nav categories */
      .categories{
        width: 100%;
        height: 294px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid var(--second--color);
        border-top: 5px solid var(--second--color);
        .placeCategory{
          width: 210px;
          height: auto;
          h1{
           padding-top: 20px;
            a{
              font-size: 20px;
              font-weight: 700;
              text-decoration: none;
              color: var(--price--color);
            }
            &:hover{
              color: var(--primary--color);
            }
            
          }
          nav{
            padding-top: 10px;
            ul{
              display: flex;
            /* justify-content: center; */
            /* align-items: center; */
            flex-direction: column;
              gap: 10px;
              li{
                display: flex;
                flex-direction: column;
                gap: 10px;
                transition: background-color 0.3s ease; 
                &:hover {
                
                  color: var(--primary--color);
                }
                h2{
                  font-size: 16px;
                  font-weight: 400;
                  a{
                    text-decoration: none;
                    color: var(--price--color);
                    &:hover{
                      color: var(--primary--color);
                    }
                  }

                }
                
              }
       
              
              .id2{
                #subnav{
                  display: flex;
                  flex-direction: column;
                  padding-left: 10px;
                  li{
                    a{
                      text-decoration: none;
                      color: var(--price--color);
                      &:hover{
                        color: var(--primary--color);
                      }
                    }
                  }
                }
              }
              
            }
          }
        }
      }
      /* end nav categories */
      /* start price nav */
      /* .price {
        width: 100%;
        border-bottom: 3px solid var(--second--color);
        .placerange{
          width: 100%;
          padding-top:25px;
          padding-bottom:25px ;
          margin-right: 5px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          label{
            padding: 5px;
          }
          #amount{
            width: 120px;
           
          }
          
        }
     } */
    
    .rank{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding-top: 25px;
      h1{
        padding-left: 10px;
      }
      .productRate{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        .boxProductRate{
          width: 240px;
          display: flex;
          justify-content: center;
          align-items: center;  
          gap: 15px;
          padding-bottom: 15px;
          .boxProductRate-left{
            width: 20%;
            img{
              width: 50px;
              height: 50px;
              border-radius: 4px;
            }
          }
          .boxProductRate-right{
            width: 80%;
            display: flex;
            flex-direction: column;
            span{
              font-weight: 600;
              
            }
            .priceRate{
              color: var(--primary--color);
            }
          }
        }
      }
      
    }
/* end price nav */
    }
    /* end nav bar */
    /* start product */
    .product-show{
      width: 80%;
      height: auto;
      .content{
        width: 100%;
        height: auto;
        .place-product {
          width: 100%;
          height: auto;
          .heading-place-product {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .heading {
              h1{
                a {
                  text-decoration: none;
                  font-size: 24px;
                  font-weight: 600;
                  text-transform: uppercase;
                  color: var(--price--color);
                  &:hover {
                    color: var(--primary--color);
                    cursor: pointer;
                  }
                }
              }
              
            }
  
            .more {
              h1{
                a {
                  font-size: 24px;
                  font-weight: 600;
                  text-decoration: none;
                  color: var(--price--color);
                  &:hover {
                    color: var(--primary--color);
                    cursor: pointer;
                  }
                }
              }
             
            }
          }
          /* box product */
          .box-product-master {
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            gap: 20px; 
            width: 100%;
            max-width: 960px;
            align-items: start;
            justify-items: center;
            .box-product-pageProduct {
              position: relative;
              width: 100%; 
              max-width: 270px; 
              height: 440px;
              display: flex;
              flex-direction: column;
              gap: 15px;
              border-radius: 12px;
              box-shadow: var(--box--shadow);
              transition: all 0.3s linear;
              overflow: hidden;
              &:hover {
                  transform: scale(1.05);
                  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
              }
            
                img {
                  width: 100%;
                  height: 282px;
                  object-fit: cover;
                  transition: transform 0.3s ease;
                }
              
          
             
      
              .content-box-product {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  gap: 4px;
                  height: 100%;
                  h1{
                    font-size: 16px;
                    font-weight: 200;
                    line-height: 24px;
                    text-transform: uppercase;
                  }
                  span {
                      font-size: 13px;
                      font-weight: 400;
                      margin: 0;
                      text-align: center;
                  }
              }
             
             .product-link{
              &:hover .overlay {
                opacity: 1;
              }
              .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 270px;
                background-color: rgba(0, 0, 0, 0.5);
                opacity: 0;
                transition: opacity 0.3s ease;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 66;
                &:hover .overlay {
                  opacity: 1;
                } 
                .button-container {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  .buy-now-button,
                  .add-to-cart-button {
                      width: 160px;
                      height: 50px;
                      font-size: 16px;
                      color: var(--second--color);
                      background-color: var(--primary--color);
                      border: none;
                      border-radius: 4px;
                      cursor: pointer;
                      transition: transform 0.3s ease;
                      display: flex;
                      justify-content: center;
                      align-items: center;
              }
                }
              
              }
             }
              
      
              
             
      
              
      
              .sale-off-tag {
                  position: absolute;
                  top: 10px;
                  left: 0;
                  background-color: var(--primary--color);
                  color: var(--second--color);
                  padding: 5px 10px;
                  font-size: 12px;
                  font-weight: bold;
                  border-radius: 4px;
              }
      
              .flag-off-tag {
                  width: 50px;
                  height: 25px;
                  position: absolute;
                  top: 50px;
                  left: 0;
                  background-color: var(--primary--color);
                  color: var(--second--color);
                  padding: 5px 10px;
                  font-size: 12px;
                  font-weight: bold;
                  border-radius: 4px;
      
                  img {
                      width: 100%;
                      height: 100%;
                  }
              }
          }

         
          
        }
        
       
        
          /* end box product */
        }
      }
    }
    /* end product */
  }
  
}