@import "./css/header.css";
@import "./css/main.css";
@import "./css/footer.css";
@import "./css/productshow.css";
@import "./css/info.css";
@import "./css/detail.css";
@import "./css/updateinfo.css";
@import "./css/viewcart.css";
@import "./css/checkout.css";
@import "./css/dangky.css";
@import "./css/dangnhap.css";
@import "./css/blog.css";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet');
@font-face{
  font-family:Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  font-optical-sizing: auto;

}
*{
  padding: 0;
  margin: 0;
  font-family: var(--body-font-family);
  /* font-family: "Lora", serif; */
  /* font-family:Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif; */

}

:root{
  --primary--color:#93BEBF;
  --second--color: #ffffff;
  --price--color: #1E1E1E;
  --hover--color: #93BEBF;
  --box--shadow: 0 0 2px #1E1E1E;
  --button--color:#f0f0f0;
  --body-font-family:  Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  --transition--transform: all .3s linear;

}
.placeMaster{
  display: grid;
            grid-template-areas:
                "header main main main"
                "header main main main"
                "header footer footer footer";
            grid-template-columns: .5fr 19fr; 
            grid-template-rows: auto auto auto; 
            width: 100%;
            height: 100vh; 
}
header{
  display: grid;
  height: 100%;
  background-color: var(--primary--color);
  grid-area: header;
  position: fixed;
}
main{
  display: grid;
  width:100%;
  height: 100%;
  background-color: var(--second--color);
  grid-area: main;
  position: relative;
  z-index: 99;
}
footer{
  display: grid;
  background-color: var(--second--color);
  width: 100%;
  height: 100%;
  grid-area: footer;
  position: relative;
  z-index: 99;
}
.content{
  width: 1400px;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
}

@media (max-width: 768px) {
  .box-product-master {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .box-product-master {
      grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}
